@import 'variables.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:500');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: $colour-black;
}

body {
  background: $colour-bg;
}

.btn {
  display: inline-block;
  margin: 8px;
  padding: 12px;

  border-radius: 3px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  transition: box-shadow .5s;

  &-small {
    padding: 8px;
  }

  &:hover {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }

  &:active {
    transition: box-shadow .05s;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  }
}
