@import "../../variables";

$icon-size: 128px;

.server {
  width: $icon-size + 24px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $colour-white;

  .server-icon {
    width: $icon-size;
    margin-bottom: 15px;

    border-radius: 50%;
  }

  .name {
    text-align: center;
  }
}
