.server-header {
  text-align: center;
  margin-bottom: 8px;

  .discord-icon {
    width: 100px;
  }

  .icon-server {
    margin-left: -20px;
  }

  .change-server-link {
    margin-top: 8px;
    text-decoration: underline;
    cursor: pointer;
  }
}
